.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.progress-bar {
  background-color: #262626;
  height: 10px;
  width: 400px;
}

.progress-done {
  height: 10px;
  width: 0;
  background-color: #00ffff;
  transition: all 2s linear;
}